#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

ul li {
  list-style: none;
}

.btn {
  font-weight: bolder;
  margin: 0.5rem;
  width: 50%;
}

.btn-pill {
  border-radius: 16px;
  /* bo */
}

.btn:hover {
  cursor: pointer;
}

.buttons-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.practice-section {
  display: flex;
  gap: 1rem ;
  border: 1px solid #000;
  width: 100%;
  height: 200px;
}

.block {
  border: 2px solid #000;
  height: 70px;
  width: 35px;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-start	{justify-content: flex-start;}
.justify-end	{justify-content: flex-end;}
.justify-center	{justify-content: center;}
.justify-between	{justify-content: space-between;}
.justify-around	{justify-content: space-around;}
.justify-evenly	{justify-content: space-evenly;}

.items-center	{align-items: center;}
.items-start	{align-items: flex-start;}
.items-end	{align-items: flex-end;}
.items-between	{align-items: space-between;}
.items-around	{align-items: space-around;}
.items-evenly	{align-items: space-evenly;}
